#divOne{
margin: auto;
width: 50%;
border: 5px solid black;
padding: 30px;
background-color:white;
border-radius: 25px;
font-style: oblique;
background-color: lightblue;
}
#jumbo{
background-image: url("https://i.imgur.com/JcsaUOC.png");
background-color:white;
}

#title1{
font-family: "Times New Roman", Times, serif;
font-size:4em;
font-weight:bold;
color:white;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#navBar{
font-family: "Times New Roman", Times, serif;
font-size:2.5em;
font-weight:bold;
color:white;
text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;
}