<html>

<head>
      
<!--  Semantic UI implementation later on
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">-->

<!--<script-->
<!--  src="https://code.jquery.com/jquery-3.1.1.min.js"-->
<!--  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
<!--  crossorigin="anonymous"></script>-->
<!--<script src="..dist/semantic.min.js"></script>-->
<!--/MASTERBRANCH/paceMaker/views/pages/semantic/dist/semantic.min.css-->

    <!-- Include includes template -->
    <% include templates/includes.ejs %>
</head>

<body>
    
    <!-- Include header template -->
  <% include templates/header.ejs %>
  
    <style>
    #registrationBox{
      border:2px solid green;
      padding:2em;
      height:20em;
      width:20em;
    }

    </style>
  

    <% include templates/footer.ejs %>
    
    

</body>

</html>