<html>

<head>
    <!-- Include includes template -->
    <% include templates/includes.ejs %>
</head>

<body>
    
    <!-- Include header template -->
    <% include templates/header.ejs %>
  
    <!-- Include footer template -->
    <% include templates/footer.ejs %>
    
</body>

</html>