<html>
  <head>
    <title>
    Recipe Vision
    </title>
  <% include templates/includes.ejs %>

  </head>
  
  <body>
<!-- Inclue header template -->
      <% include templates/header.ejs %>
        

  
    
    <script>
 
    </script>
      
    

    </body>  

</html>
