<html>
  <head>
    <title>
    Recipe Vision
    </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script language="javascript" type ="text/javascript"></script>

        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <script>


//Recipe Search Function
    function recipeSearch(){
        //alert("Clicked!");
      
        console.log("EDAMAM API");
            
        //Clears the table's contents after each new search
        $("#label").html("");
        $("#image").html("");
        $("#source").html("");
        //add a hashtag
        $("#oneSpan").html("");

        //AJAX request for Edamam API
        $.ajax({
            //get method
            type: "get",
                
            //gets the url from the api 
            url: "https://api.edamam.com/search",
                
            //JSON, or JavaScript Object Notation, is a minimal, readable format for structuring data. 
            //It is used primarily to transmit data between a server and web application, as an alternative to XML.
            dataType: "json",
                
            // EDAMAM API
            data: {
                "q":$("#searchValue").val(),
                "app_key":"", // API Key PLEASE USE YOUR OWN
            },
        
            success: function(data,status) {
              console.log(data);
              console.log(data.length);
              for(var i = 0 ; i <5;i++){
              console.log(data["hits"][i]["recipe"]["label"]);
              $("#oneSpan").append("<br><div class='container' id='divOne'>" + "<h1><a href='" + data["hits"][i]["recipe"]["url"] + "'  target='_blank'>" + data["hits"][i]["recipe"]["label"] + "</a></h1>" + "<br>" +
                                  "<h1>Calories: " +  Math.round(data["hits"][i]["recipe"]["calories"])+"</h1><br>" +
                                  "<h1>Diet Labels: " + data["hits"][i]["recipe"]["dietLabels"] + "</h1><br>" + 
                             
                                  "<img src='" +data["hits"][i]["recipe"]["image"] + "'>" + "<br>" + "</div>")
                                  ;
              }
            },
        
            complete: function(data,status) { 
              console.log(status);
            }
        
		});//AJAX

    } //End of recipeSearch() function.
        
  </script>
  
  <body>
    
    <div id="fb-root"></div>
          <script>
                 window.fbAsyncInit = function() {
        FB.init({
          appId      : 'use app id here',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10'
        });
          
        FB.AppEvents.logPageView();   
          
      };
          

    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
       
       
     
      </script>
      <!-- Start Layout -->
      
        <% include templates/header.ejs %>
   
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search" id="searchValue">
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit" onclick="recipeSearch()" id="button1">
              Search
              </button>
          </div>
        </div>
    
        <script>
            
        document.getElementById("searchValue")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                document.getElementById("button1").click();
            }
        });
        </script>
        
        
    <div class="container">
    <center>
      <span id="oneSpan"></span>
    </center>
    </div>
    <br><br><br><br>
       <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <div id="shareBtn" class="btn btn-success clearfix" data-size="small">Share</div>
      
        <script>
        document.getElementById('shareBtn').onclick = function() {
          FB.ui({
            method: 'share',
            display: 'popup',
            href: 'https://pacemaker438.herokuapp.com/',
          }, function(response){});
        }
        </script>
        

      
    
    </body>  


</html>