<html>

<head>
    <!-- Include includes file -->
    <% include templates/includes.ejs %>
</head>

<body>
    <!-- Include header template -->
    <% include templates/header.ejs %>
   
    <!-- Inclue footer template -->
    <% include templates/footer.ejs %>
</body>

</html>