<html>

<head>
    <!-- Include includes template -->
    <% include templates/includes.ejs %>
</head>

<body>
    <!-- Include header template -->
    <% include templates/header.ejs %>
    
</body>

<footer>
    <!-- Include footer template -->
    <% include templates/footer.ejs %>
</footer>
</html>