<html>

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Include includes template -->
    <% include templates/includes.ejs %>
</head>

<body>
    <!-- Include header template -->
    <% include templates/header.ejs %>
    <% include templates/validation.ejs %>
   
        <legend>Sign Up</legend>
        <fieldset style="text-align: left; padding-left: 45%;">
            <input type="text" name="firstName" id="firstName" placeholder="First Name"><br>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br><br>
            <input type="text" name="username" id="username" placeholder="Desired Username" onchange="checkUsername()"><span id="available"></span><br>
            <input type="email" name="email" id="email" placeholder="Email"><br>
            <input type="password" name="password" id="password" onchange="" placeholder="Password"><br>
            <input type="password" name="confirmPass" id="confirmPass" onchange="" placeholder="Confirm Password"><span id="pwMatchError"></span><br>
            <button onclick="validateForm()" name="signupForm">Sign Up</button><br>
            <span id="incomplete"></span>
        </fieldset>

<script>
        function validateForm(){
        var firstName = document.getElementById("firstName");
        var lastName = document.getElementById("lastName");
        var username = document.getElementById("username");
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var confirmPass = document.getElementById("confirmPass");
        var available = document.getElementById("available");
        
        console.log(firstName.value);
         var parameters = {firstName: firstName.value, lastName: lastName.value, username: username.value, email: email.value, password: password.value};
            console.log(parameters);
            $.get('/info', parameters, function(data) {
                console.log("Send to server...");
            });
        //checkUsername();
        /*if ($("#available").html() == "" || $("#available").html() == " Unavailable"){
            $("#incomplete").html("Form is incomplete");
            $("#incomplete").css("color", "red"); 
            return false;
        }
        if($("#firstName").val() == "") { 
            $("#incomplete").html("Form is incomplete");
            $("#incomplete").css("color", "red"); 
            return false;
        }
        else if($("#lastName").val() == "") {
            $("#incomplete").html("Form is incomplete");
            $("#incomplete").css("color", "red"); 
            return false;
        }
        else if($("#email").val() == "") {
            $("#incomplete").html("Form is incomplete");
            $("#incomplete").css("color", "red"); 
            return false;
        }
        else if(!passwordMatch()) {
            $("#incomplete").html("Form is incomplete");
            $("#incomplete").css("color", "red"); 
            return false;
        }
        else {
            console.log("complete");
            var parameters = {firstName: firstName.value, lastName: lastName.value, username: username.value, email: email.value, password: password.value};
            console.log(parameters);
            $.get('/userInfo', parameters, function(data){
                console.log("Send to server...");
            });
            return true;
        }*/
    }
</script>    
</body>

<footer>
        <!-- Include footer template -->
    <% include templates/footer.ejs %>
</footer>

</html>